
<div class="container "> 
<h2 class="text-center">Weight Loss Diet Plan</h2>


<a routerLink="../about" class="btn btn-sm btn-dark mb-3">Back</a>
<table class="table  table-bordered">
    <thead class="table-dark">
      <tr>
        
        <th scope="col">Food Name</th>
        <th scope="col">Calories(kCal)</th>
        <th scope="col">Fats</th>
        <th scope="col">Quantity</th>
        <th scope="col">Timing</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let w of  weightLossItem">
       
        <td>{{w.foodName}}</td>
        <td>{{w.kcal}}</td>
        <td>{{w.fats}}</td>
        <td>{{w.quantity}}</td>
        <td>{{w.timing}}</td>
      </tr>
    </tbody>

  </table>
</div>

