<div class="container "> 
    <h2 class="text-center">Detox Diet Plan</h2>
    <a routerLink="../about" class="btn btn-sm btn-dark mb-3">Back</a>
    <table class="table  table-bordered">
        <thead class="table-dark">
        <tr>          
            <th scope="col">Food Name</th>
            <th scope="col">Calories(kCal)</th>
            <th scope="col">Fats</th>
            <th scope="col">Quantity(in cup)</th>
            <th scope="col">Timing</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let det of DetoxDietPlan">
            
            <td>{{det.itemName}}</td>
            <td>{{det.cal}}</td>
            <td>{{det.fatNo}}</td>
            <td>{{det.amount}}</td>
            <td>{{det.time}}</td>
          </tr>
        </tbody>
    
      </table>
    </div>
  
    
