<div class="container " >
<div class="first">
    <h1 class="text-center">DIET PLANS</h1>
</div>
<br>
    <div class="row mt-5 mb-4" >

    <div class="col-6 col-md-4 ">
     <div class="stepBox">
        <h1>1</h1>
        <h3>Weight Loss</h3>
        <br><a routerLink="/weightlossplan"> Proceed </a>
     </div>
    </div>
    <div class="col-md-8">
     <p>This is the diet chart for weight loss for both male and female.This can be easile followed for your weight management.According to your preference, choose the food items for your meal.There are several factors that can affect your efforts to lose weight. These include making changes to your diet plan for weight loss, exercise, and lifestyle.In addition, you should know what not to do.Talk to a nutritionist/dietician before you begin a new plan. Also,knowing how many calories you need to consume each day is essential for losing,gaining or maintaining weight. 
                Select the following <a routerLink="/calorieCalculator"> AMR calculator </a>to check your AMR which represents the no. of calorie you need to consume each day to stay at your current weight.  </p>
    </div>
 </div>
    <br>
    <div class="row mt-5 mb-4" >
        <div class="col-md-8">
                <p>Diabetes mellitus is a chronic metabolic disorder in which the body fails to convert sugars, starches and other foods into energy. Foods that we eat are normally converted into glucose during digestion and hormone, insulin, then turns glucose into quick energy.In diabetic people, the body either does not make enough insulin or it cannot use the insulin correctly. This is why too much glucose builds up in the bloodstream.The main reason is irregular meal, mental stress, lack of exercise.Meal of diabetic patient is depending on calories and special care of time and amount of food should be done. Here is diet chart for general diabetes patient.
                </p>
        </div>
        <div class="col-6 col-md-4">
        <div class="stepBox">
          <h1>2</h1>
          <h3>Diabetes Management</h3>
          <br><a routerLink="/diabetesplan"> Proceed </a>
            
        </div>
        </div>
         
    </div>
    <br>
    <div class="row mt-5 mb-4" >

        <div class="col-6 col-md-4">
           <div class="stepBox">
                <h1>3</h1>
                <h3>Detox Diet Plan</h3>
                <br><a routerLink="/detoxplan"> Proceed </a>
           </div>
        </div>
        <div class="col-md-8">
            <p>Detox diets are short term changes in eating habits which seek to remove excess toxins present in the body through the consumption of juices, fruits, and vegetables. These diets aim to improve circulation, boost immunity, clear your skin, and increase energy. The most important one is that such a diet will definitely improve your idea of food and your eating habits for the better. Detox diet generally consists of drinking a lot of fluids, eating whole foods, or even fasting for a few days or sometimes even a week. These detox diets are mainly used for weight-loss, to decrease consumption of substances like alcohol, tobacco or coffee etc. Before starting this diet it is recommended to consult a nutritionist or a doctor, so that this diet will not cause any detrimental effects on your health. The following plan is an example of what can be followed on the first day of a 3-day diet plan.</p>
        </div>
        </div>
        <br>
</div>
