
<div class="banner">
    <div class="go">
        <h1> <br> Welcome to <br> <br> Nutrition Guide</h1>
        <h4>Proceed to see how it works!..</h4>
        <br><a routerLink="calorieCalculator"> Proceed </a>
    </div>
   
</div>
<div class="container mt-4 " >

    <h1 class="text-center">We have the following Services</h1>

    <div class="row " >

    <div class="col-lg-6 ">
    <div class="stepBox">
            <h1>1</h1>
            <p>Calorie Calculator</p>
        </div>
    </div>

    <div class="col-lg-6 ">
    <div class="stepBox">
            <h1>2</h1>
            <p>Diet Plans</p>
        </div>
    </div>


    </div>

<div class="container mt-5 mb-4" >

    <h1 class="text-center">What are you looking for ?</h1>

    <div class="row " >

    <div class="col-lg-4 ">
    <div class="stepBox">
            <h1>1</h1>
            <p>Weight Loss</p>
        </div>
    </div>

    <div class="col-lg-4 ">
    <div class="stepBox">
                    <h1>2</h1>
            <p>Diabetes Management</p>
        </div>
    </div>

    <div class="col-lg-4 ">
        <div class="stepBox">
            <h1>3</h1>
            <p>Weight Gain</p>
        </div>
    </div>

    </div>
    <br>
    <a routerLink="/about" class="viewmorebtn">view more</a>

</div>


    
